goup(){
    go run app/up/*.go $@
}

wiptest(){
    goup ngo task -d ./tests/functests -t wip.yml -i dev --configdir=./tests/functests
}

wipfunctest(){
    gotest ./tests/functests/wip_test.go -v
}

wiptestvvvv(){
    goup ngo task -d ./tests/functests -t wip.yml -i dev -v vvvv --configdir=./tests/functests
}

wiptestvv(){
    goup ngo task -d ./tests/functests -t wip.yml -i dev -v vv --configdir=./tests/functests
}

wiptestvvv(){
    goup ngo task -d ./tests/functests -t wip.yml -i dev -v vvv --configdir=./tests/functests
}

wiptestvvvvv(){
    goup ngo task -d ./tests/functests -t wip.yml -i dev -v vvvvv --configdir=./tests/functests
}

wiptestdebug(){
    goup ngo task -d ./tests/functests -t wip.yml -i dev -v vvvvv
}

wiptestvalidate(){
    goup validate task task -d ./tests/functests -t wip.yml -i dev -v vvvvv
}

mwiptest(){
  dir=./tests/modtests/wip
  goup ngo -d $dir -i dev --configdir=$dir -w refdir
}

mtestx(){
  if [ "$1" == "" ];then
    echo "please input the casename(dir name)"
  else
    dir=./tests/modtests/$1
    goup ngo -d $dir -i dev --configdir=$dir -w refdir
  fi
}


mlistx(){
  if [ "$1" == "" ];then
    echo "please input the casename(dir name)"
  else
    dir=./tests/modtests/$1
    goup mod list -d $dir -i dev --configdir=$dir -w refdir
  fi
}


mupdatex(){
  if [ "$1" == "" ];then
    echo "please input the casename(dir name)"
  else
    dir=./tests/modtests/$1
    goup mod update -d $dir -i dev --configdir=$dir -w refdir
  fi
}

mlockx(){
  if [ "$1" == "" ];then
    echo "please input the casename(dir name)"
  else
    dir=./tests/modtests/$1
    goup mod lock -d $dir -i dev --configdir=$dir -w refdir
  fi
}




mtestxvvv(){
  if [ "$1" == "" ];then
    echo "please input the casename(dir name)"
  else
    dir=./tests/modtests/$1
    goup ngo -d $dir -i dev --configdir=$dir -w refdir -v vvv
  fi
}



uplist(){
goup list task
}

uptestx(){
echo "syntax: uptestx c0033"
    goup ngo task -d ./tests/functests -t $1 -i dev --configdir=./tests/functests
}

uptestxvvv(){
echo "syntax: uptestx c0033"
    goup ngo task -d ./tests/functests -t $1 -i dev -v vvv --configdir=./tests/functests
}

uptestxvv(){
echo "syntax: uptestx c0033"
    goup ngo task -d ./tests/functests -t $1 -i dev -v vv --configdir=./tests/functests
}



uptestxvvvv(){
echo "syntax: uptestx c0033"
    goup ngo task -d ./tests/functests -t $1 -i dev -v vvvv --configdir=./tests/functests
}


uptestxvvvvv(){
echo "syntax: uptestx c0033"
    goup ngo task -d ./tests/functests -t $1 -i dev -v vvvvv --configdir=./tests/functests
}

uptestf(){
    goup ngo testf
}

upregression(){
  GOTEST=true gotest ./tests/functests/casec_test.go -v
}

man_funclist(){
cat funclist |fzf
}

start_nix_docker(){
docker run -it -v `pwd`:/data nixos/nix /bin/sh
}

start_up_dev_docker(){
docker run -it -v `pwd`:/up -v ${HUGO_DOC_DIR}:/updocs cmgolang /bin/bash
}

inspect_task_example(){
#  goup list task -d ./tests/functests -t c0115.yml -i dev --configdir=./tests/functests
#  goup list subtask1 -d ./tests/functests -t c0115.yml -i dev --configdir=./tests/functests
#  goup list build -d ./tests/functests -t f0116.yml -i dev --configdir=./tests/functests
#  goup list task -d ./tests/functests -t c0116.yml -i dev --configdir=./tests/functests
  goup list task -d ./tests/functests -t wip.yml -i dev --configdir=./tests/functests
}


modtestx(){
echo "syntax: modtestx 0003"
if [ "$1" != "" ];then
  dir=./tests/modtests/$1
  goup ngo -d $dir -i dev --configdir=$dir
else
  echo "please input a case number"
fi
}
